[submodule "libraries/MCP342X"]
	path = libraries/MCP342X
	url = https://github.com/uChip/MCP342X.git
[submodule "libraries/Arduino-Scheduler"]
	path = libraries/Arduino-Scheduler
	url = git@github.com:koi-science/Arduino-Scheduler.git
[submodule "libraries/PDQ_GFX_Libs"]
	path = libraries/PDQ_GFX_Libs
	url = git@github.com:koi-science/PDQ_GFX_Libs.git
